#pac-input {
  width: 50em;
}

#pac-container {
}

.propertyDisplay {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.propertyImage {
  background: url(../../assets/home1.jpg);
  height: 300px;
  width: 500px;
  background-size: cover;
  background-position: 50% 50%;
}

#googleMap {
  height: 300px;
  width: 400px;
}
