.propertyDisplay {
  margin-left: 1em;
  margin-right: 1em;
  max-width: 600px;
  // display: inline-block;
}

// #street-view {
//   display: inline-block;
// }


// #googleMap {
//   display: inline-block;
// }