* {
  box-sizing: border-box;
}

body {
  position: relative;
}

.top-strip {
  text-align: right;
  background-color: rgba(61, 7, 13, 0.8);
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
  height: 37px;
  display: grid;
  align-items: center;
  padding-right: 30px;
  /* display: none; */
}

.navbar {
  height: 39px;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  grid-template-columns: 60px 107px;
}

.expanded-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 3;
  position: absolute;
  width: 100%;
}

.regular-nav {
  list-style-type: none;
}

.nav-item {
  display: inline-block;
  margin: 0 1em;
  a {
    text-decoration: none;
    color: brown;
  }
  a:visited {
    text-decoration: none;
    color: brown;
}
}

.fa-user-circle {
  font-size: 1.5em;
}

.expanded-menu li {
  border: 1px solid brown;
  background-color: white;
  padding: 11px 7px;
  font-family: "Open Sans", sans-serif;
  color: brown;
}

.expanded-menu a:link,
.expanded-menu a:visited {
  text-decoration: none;
  color: brown;
}
.main-logo,
.agent-image {
  display: inline;
}

.logo-text {
  text-transform: uppercase;
  color: #6d6d6d;
  font-family: "Source Serif Pro", serif;
  font-size: 0.75rem;
  vertical-align: bottom;
}
#realtor-img {
  width: 45px;
  height: 39px;
}

#main-logo-img {
  width: 100px;
  height: 18px;
}
.divider {
  margin: 10px;
}

.banner {
  background-image: url("../../assets/banner-img.jpg");
  width: 100%;
  height: 95vh;
  background-size: cover;
  background-position: 50% 50%;
}

.banner-contents {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* text-align: center; */
}
.banner-header {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  font-size: 3em;
  text-align: center;
  padding-top: 75px;
}

.icon-wrapper {
  height: 75px;
  width: 75px;
  background: rgba(61, 7, 13, 0.8);
  border-radius: 50%;
  border: 2px solid white;
  margin: 0 auto;
  display: grid;
  align-items: center;
  text-align: center;
}

.banner-icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 250px;
  color: white;
}

.home-finder-text {
  text-align: center;
  color: white;
  font-size: 2em;
  font-family: "Open Sans", sans-serif;
  padding-top: 60px;
  font-weight: 100;
}

.home-finder-searchbox {
  background: rgba(255, 255, 255, 0.5);
  height: 130px;
  padding: 20px;
}

.home-finder-input {
  /* font-size: 3em; */
  padding: 20px 10px;
  margin-right: 20px;
  font-family: "Open Sans", sans-serif;
  /* color: charcoal; */
}

.home-finder-form {
  text-align: center;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.home-finder-button {
  background-color: red;
  color: white;
  font-family: "Open Sans", sans-serif;
}

.realtor-img-wrapper {
  width: 250px;
  height: 250px;
  margin: 0 auto;
}

.realtor-img-wrapper img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid white;
  box-shadow: 2px 2px lightgrey;
}

.company-description {
  padding: 15px;
  color: darkslategray;
  /* text-align: center; */
  font-family: "Open Sans", sans-serif;
  line-height: 2;
}

.facebook-icon-wrapper {
  color: grey;
  border-radius: 50%;
  border: 2px solid grey;
  height: 40px;
  width: 40px;
  text-align: center;
  display: grid;
  align-items: center;
  margin: 0 0 15px 15px;
}

.slogan {
  background: url("../../assets/brickfacing.jpg");
  height: 300px;
  background-size: cover;
  background-position: 50% 50%;
  display: grid;
  align-items: center;
}

.slogan-banner {
  text-align: center;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 1.7em;
  font-weight: 100;
  background-color: rgba(61, 7, 13, 0.8);
  height: 185px;
  display: grid;
  align-items: center;
  padding: 40px;
}

.featured-property {
  padding-top: 130px;
}
.property-img {
  background: url("../../assets/home1.jpg");
  height: 250px;
  background-size: cover;
  background-position: 50% 50%;
}

.property-info {
  height: 130px;
  border: 1px solid lightgreen;
  text-align: center;
  /* display: grid; */
  font-family: "Open Sans", sans-serif;
  color: grey;
}
.price {
  font-size: 2em;
  padding-top: 15px;
  font-weight: 100;
}

.address,
.room-description {
  font-size: 1.3em;
  font-weight: 100;
}



.office-address-info {
  padding-top: 20px;
  font-size: 0.9em;
}
.realtor-info {
  font-weight: bold;
}

.follow {
  padding-top: 20px;
  font-size: 1.2em;
  font-weight: 100;
}

.follow-icon {
  border: 1px solid white;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  text-align: center;
  display: grid;
  align-items: center;
  margin: 10px auto;
}


