.InfoRequestPageContainer {
  width: 95%;
  max-width: 1000px; }

.RequestPageTitle {
  text-align: center; }

.InfoText {
  margin: 0 auto;
  width: 90%; }
  .InfoText p {
    margin: .5em 0; }
  .InfoText span {
    font-size: .8em; }

.request-form-container {
  width: 100%;
  margin-left: 2em; }
  .request-form-container h1 {
    text-align: center; }

.leftFormContainer {
  grid-column: 1/2;
  margin: 0 auto; }

.rightFormContainer {
  grid-column: 2/3;
  margin: 0 auto; }

.request-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2em;
  width: 100%; }
  .request-form input {
    display: block;
    margin: 0 auto;
    margin-bottom: .5em; }
