.propertyDisplay {
  margin-left: 1em;
  margin-right: 1em;
  max-width: 600px;
  margin: 0em auto 1em auto; }

@media only screen and (max-width: 600px) {
  .propertyDisplay {
    margin: 0 1em; } }

#pac-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100px; }

#pac-input {
  width: 35em;
  max-width: 100%;
  height: 3em;
  margin: 0;
  margin-top: 3em;
  border: 1px solid #00cc7a; }

.search {
  border: 1px solid #00cc7a;
  /* width style color */
  box-sizing: border-box;
  font-size: 22px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  outline: none;
  /* Outlines border */
  cursor: pointer;
  /* Does not allow user to select the text */
  user-select: none;
  color: white;
  fill: white;
  border-radius: 4px;
  background-color: #00cc7a;
  margin-left: 3px;
  margin-top: 1.5em;
  height: 1.5em; }

.fa-search {
  font-size: .8em;
  color: white; }
