.card-grid {
  display: grid;
  grid-template-columns: 1fr;
  width: 90%;
  justify-content: center;
  align-items: center;
  margin: 0 auto; }

.card {
  width: 100%;
  border: 1px blue solid; }
  .card .header {
    margin: 0 auto;
    font-weight: 800; }
  .card .info {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }

@media only screen and (min-width: 1000px) {
  .card-grid {
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    grid-column-gap: 2em; } }
