.navbar {
  height: 39px;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  grid-template-columns: 60px 107px; }

.main-logo,
.agent-image {
  display: inline; }

.expanded-menu {
  transition: all .5s ease-in-out;
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 3;
  position: absolute;
  width: 100%; }
  .expanded-menu .nav-item {
    text-transform: uppercase; }

.expanded-menu:target {
  line-height: 1.5;
  padding-top: 1em;
  padding-bottom: 1em;
  color: black; }

.regular-nav {
  list-style-type: none; }
  .regular-nav .nav-item {
    display: inline-block;
    margin: 0 1em; }
    .regular-nav .nav-item a {
      text-transform: uppercase;
      text-decoration: none;
      color: brown; }
    .regular-nav .nav-item a:visited {
      text-decoration: none;
      color: brown; }

.fa-user-circle {
  font-size: 1.5em; }

.expanded-menu li {
  border: 1px solid brown;
  background-color: white;
  padding: 11px 7px;
  font-family: "Open Sans", sans-serif;
  color: brown; }

.expanded-menu a:link,
.expanded-menu a:visited {
  text-decoration: none;
  color: brown; }

@media only screen and (min-width: 650px) and (max-width: 921px) {
  .navbar {
    height: 50px; }
  .regular-nav {
    margin: 0px; } }
