.mobile-nav {
  background-color: #e7e8e9;
  height: 42px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  flex-direction: row;
  z-index: 3; }
  .mobile-nav ul {
    padding-left: 0;
    margin: 0; }

.toggled-nav {
  margin-top: 1em; }

.navbar {
  background-color: #e7e8e9;
  height: 42px;
  position: sticky;
  top: 0;
  z-index: 3; }
  .navbar ul {
    padding-left: 0;
    margin: 0; }

#login-icon {
  display: inline-block;
  margin-left: 12em; }

#hamburger-icon {
  margin-left: 1em; }

.expanded-menu {
  transition: all .5s ease-in-out;
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 3;
  position: absolute;
  left: 0;
  margin-top: .5em;
  width: 100%; }
  .expanded-menu .nav-item {
    text-transform: uppercase; }

.expanded-menu:target {
  line-height: 1.5;
  padding-top: 1em;
  padding-bottom: 1em;
  color: black; }

nav {
  width: 100%; }

.regular-nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  list-style-type: none; }
  .regular-nav .nav-item {
    display: inline-block;
    margin: 0 1em;
    font-weight: 600; }
    .regular-nav .nav-item a {
      text-transform: uppercase;
      text-decoration: none;
      color: brown; }
    .regular-nav .nav-item a:visited {
      text-decoration: none;
      color: brown; }
    .regular-nav .nav-item a:hover {
      color: #40e0d0; }

.regular-nav li:first-child {
  margin-right: auto; }

.fa-user-circle {
  font-size: 2em;
  color: blue; }

#ham-icon {
  font-size: 1.6em; }

.expanded-menu li {
  border: 1px solid brown;
  background-color: white;
  padding: 11px 7px;
  font-family: "Open Sans", sans-serif;
  color: brown; }

.expanded-menu a:link,
.expanded-menu a:visited {
  text-decoration: none;
  color: brown; }

@media only screen and (min-width: 650px) and (max-width: 921px) {
  .navbar {
    height: 50px; }
  .nav-item {
    font-size: .9em; } }

#logout-button {
  width: 3em;
  height: 3em;
  background-color: transparent;
  cursor: pointer;
  overflow: hidden;
  outline: none; }

.fa-sign-out-alt {
  font-size: 2em; }
