.loginContainer {
  min-height: 100vh;
  position: relative; }

.redirect-message {
  text-align: center;
  margin: 0 auto;
  color: blue;
  font-style: italic;
  font-size: 1.5em; }

#Login {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 600px; }

#error-msg {
  color: red;
  text-align: center;
  margin-bottom: 2em; }

.login-input {
  display: block;
  width: 100%;
  height: 3em;
  margin: 1em auto;
  background: #fff;
  color: #525865;
  border-radius: 4px;
  border: 1px solid #d1d1d1;
  box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.07);
  font-family: inherit;
  font-size: 1em;
  line-height: 1.45;
  outline: none;
  padding: 0.6em 1.45em 0.7em;
  -webkit-transition: .18s ease-out;
  -moz-transition: .18s ease-out;
  -o-transition: .18s ease-out;
  transition: .18s ease-out; }

.login-input:hover {
  box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.02); }

.login-input:focus {
  color: #4b515d;
  border: 1px solid #B8B6B6;
  box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.01), 0px 0px 8px rgba(0, 0, 0, 0.2); }

#signup-link {
  display: block;
  margin-top: 1em;
  text-decoration: none; }

#loginButton {
  box-shadow: 0px 0px 0px 2px #9fb4f2;
  background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);
  background-color: #7892c2;
  border-radius: 8px;
  border: 1px solid #4e6096;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 16px;
  padding: 12px 37px;
  text-decoration: none;
  width: 7em;
  height: 2.5em;
  text-shadow: 0px 1px 0px #283966; }

#loginButton:hover {
  background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);
  background-color: #476e9e; }

#loginButton:active {
  position: relative;
  top: 1px; }
